rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow all operations for admin side
    match /{document=**} {
      allow read, write, create, delete: if true;
    }
  }
}

