rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Admin users have full access to all collections
    match /{document=**} {
      allow read, write, create, delete: if 
        request.auth != null && 
        request.auth.token.type == 'admin';
    }

    // Specific rules for non-admin users
    match /users/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /contract/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /transactions/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /audit/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /images/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /registeredDeceasedUser/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
      // Allow beneficiaries to read and update their own records
      allow update: if request.auth != null && 
        (resource.data.userID == request.auth.uid || 
         resource.data.regisEmail[request.auth.token.email] != null);
    }

    match /registeredBeneficiaries/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /chat_messages/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
      allow write: if request.auth != null && resource.data.userId == request.auth.uid;
      allow delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // Allow landing site to log visits
    match /visitorlog/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /notifications/{document} {
      allow create: if true;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }
  }
}
